 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>District 1</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Portions of Ewa Villages and Ewa Beach, Kapolei, Makakilo, Kalaeloa, Honokai Hale, Ko Olina, Nanakuli, Ma'ili, Wai'anae, Makaha, Kea'au, Makua.<br>Phone: 808.768.5001<br>Email: kmpine@honolulu.gov</p>
    </div>
    <div class="tech">
      <h2>District 2</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mililani Mauka, Wahiawa, Mokuleia, Waialua, Haleiwa, Pupukea, Sunset Beach, Kahuku, Laie, Hauula, Punaluu, Kahana, Kaaawa, Kualoa, Waiahole, and Kahaluu.<br>Phone: 808.768.5002<br>Email: emartin@honolulu.gov</p>
    </div>
    <div class="tech">
      <h2>District 2</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Ahuimanu, Heeia, Haiku, Kaneohe, Maunawili, Kailua, Olomana, Enchanted Lake, and Waimanalo.<br>Phone: 808.768.5003<br>Email: ianderson@honolulu.gov</p>
    </div>
</div>
