 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>D1</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Portions of Ewa Villages and Ewa Beach, Kapolei, Makakilo, Kalaeloa, Honokai Hale, Ko Olina, Nanakuli, Ma'ili, Wai'anae, Makaha, Kea'au, Makua.</p>
    </div>
    <div class="tech">
      <h2>D2</h2>
      <i class="devicon-javascript-plain colored"></i>
      <p>Mililani Mauka, Wahiawa, Mokuleia, Waialua, Haleiwa, Pupukea, Sunset Beach, Kahuku, Laie, Hauula, Punaluu, Kahana, Kaaawa, Kualoa, Waiahole, and Kahaluu.</p>
    </div>
    <div class="tech">
      <h2>D3</h2>
      <i class="devicon-git-plain"></i>
      <p>Ahuimanu, Heeia, Haiku, Kaneohe, Maunawili, Kailua, Olomana, Enchanted Lake, and Waimanalo.</p>
    </div>
</div>
